<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpModules>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="atak_testcaseEntities" connectionString="metadata=res://*/aktek.csdl|res://*/aktek.ssdl|res://*/aktek.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HALE-BILGISAYAR\SQLEXPRESS;Initial Catalog=atak_testcase;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="atak_testcaseEntities1" connectionString="metadata=res://*/atak.csdl|res://*/atak.ssdl|res://*/atak.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=hale-bilgisayar\sqlexpress;Initial Catalog=atak_testcase;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>